{% extends 'base.html.twig' %}

{% block body %}
<h1>Welcome</h1>
<p>
    <span></span>
    <span>Mollitia omnis accusantium tenetur tempora non dolores porro odit nobis quasi quod corporis itaque fugiat velit quae, nisi necessitatibus totam impedit nostrum reiciendis in commodi nam minus a? Adipisci, eveniet.</span>
</p>
<p>
    <span>Perspiciatis assumenda reprehenderit beatae fugit suscipit est, velit nulla a architecto dolorum expedita fugiat obcaecati qui aperiam. At, nostrum officiis. Fugiat magnam inventore quibusdam repellendus ab quasi explicabo quidem commodi.</span>
    <span>Voluptates nihil, magnam aperiam ab excepturi quia. Placeat, reiciendis similique. Magni sit libero voluptatibus architecto accusamus alias explicabo maiores sint! Fugit rerum officiis hic unde commodi perferendis blanditiis recusandae vel?</span>
</p>
{% endblock %}